<html>
   <head>
       <title>Event Management</title>
       <link rel="stylesheet" href="css/styles.css">
    </head> 
   <body>
       <div class="box">
           <h1 id="heading">Event Management</h1>
        </div>    
   <div class="box">
       <P>WE TRY OUR BEST TO MAKE YOU HAPPY!!</P>
       <div class="item">
            <input type="checkbox" name="checkbox">
            <p><<--  Click checkbox to mark attended</p>
            </div>

    </div>
   
   </body>
</html>